.filter-caption .label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;

  .icon {
    margin-right: 5px;
  }
}

.invalid {
  position: absolute;
  right: 5px;
  color: #f53d3d;
  font-size: 12px;
}

.ion-item {

  &+.ion-item {

    border-bottom-color: #f53d3d !important;
    box-shadow: inset 0 -1px 0 0 #f53d3d !important;

    .item-inner.value-invalid {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }

  }  

  &.value-invalid {

    .item-inner {
      border-bottom-color: #f53d3d !important;
      box-shadow: inset 0 -1px 0 0 #f53d3d !important;
    }

  }

}
