<ion-header>

  <ion-navbar>
    <ion-title start>Фильтры</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeFilters()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item-group>

      <ion-item-divider class="filter-caption" color="light">
        <ion-icon name="card"></ion-icon>
        Цена
      </ion-item-divider>

      <ion-item [ngClass]="{ 'value-invalid': !!validation.errors.minPrice }">

        <ion-label>от</ion-label>
        <ion-input 
          type="number" placeholder="0" 
          [(ngModel)]="filters.minPrice"
          (ionChange)="checkValidation()"
        ></ion-input>
        <span 
          *ngIf="!validation.isValid && validation.errors.minPrice" 
          class="invalid" color="red" item-end
        >{{validation.errors.minPrice}}</span>

      </ion-item>      
      <ion-item [ngClass]="{ 'value-invalid': !!validation.errors.maxPrice }">
        
        <ion-label>до</ion-label>
        <ion-input 
          type="number" placeholder="0"
          [(ngModel)]="filters.maxPrice"
          (ionChange)="checkValidation()"
        ></ion-input>
        <span 
          *ngIf="!validation.isValid && validation.errors.maxPrice" 
          class="invalid" color="red" item-end
        >{{validation.errors.maxPrice}}</span>

      </ion-item>

    </ion-item-group>

    <ion-item-group>

      <ion-item-divider color="light" class="filter-caption" >
        <ion-icon name="car"></ion-icon>
        Парковка
      </ion-item-divider>

      <ion-item>

        <ion-label>с парковкой</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="filters.hasParking"></ion-checkbox>
  
      </ion-item>

    </ion-item-group>

  </ion-list>

  <button class="submit-btn" ion-button full color="light" (click)="resetFilters()">Сбросить фильтры</button>
  <button [disabled]="!validation.isValid" class="submit-btn" ion-button full secondary (click)="handleSubmitFilters()">Применить фильтры</button>

</ion-content>