// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.submit-btn {
  margin-top: 10px;
}

.alert {
  margin: 10px auto;
  width: 95%;
  padding: 20px 15px;
  text-align: center;
  border-radius: 4px;
  
  &.alert-info {
    color: #405a71;
  }

  .alert-icon {
    font-size: 40px;
  }

  .alert-header {
    font-size: 18px;
    font-weight: 600;
  }

  .alert-text {
    margin-top: 20px;
  }
}
