<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Гостиницы</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list [virtualScroll]="hotels" approxItemHeight="70px">

    <button ion-item *virtualItem="let hotel" (click)="showHotelDetails(hotel)">
      <ion-avatar item-start>
        <img src="{{hotel.imageUrl}}">
      </ion-avatar>
      <h2>{{hotel.title}}</h2>
      <p>{{hotel.address}}</p>
    </button>    
  </ion-list>
  <div *ngIf="!hotels.length" class="alert alert-info">
    <ion-icon name="information-circle" class="alert-icon"></ion-icon>
    <h3 class="alert-header">Ничего не нашлось</h3>
    <p class="alert-text">попробуйте изменить фильтры или сбросить их значения</p>
  </div>
  <ion-fab right bottom>
    <button ion-fab (click)="presentFiltersModal()">
      <ion-icon name="options"></ion-icon>
    </button>
  </ion-fab>
</ion-content>