<ion-header>

  <ion-navbar>
    <ion-title>{{hotel.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-img class="hotel-img" src={{hotel.imageUrl}}></ion-img>
  <h2 class="hotel-title">{{hotel.title}}</h2>
  <p>{{hotel.description}}</p>
  <ion-list>
    <ion-item class="hotel-features">
      <ion-icon name="card" item-start></ion-icon>
      цена за номер <b>{{hotel.roomCost}}руб.</b>
    </ion-item>
    <ion-item class="hotel-features" *ngIf="hotel.hasParking">
      <ion-icon name="car" item-start></ion-icon>
      есть парковка
    </ion-item>
    <ion-item class="hotel-features">
      <ion-icon name="pin" item-start></ion-icon>
      {{hotel.address}}
    </ion-item>
    <ion-item class="hotel-features">
      <ion-icon name="call" item-start></ion-icon>
      {{hotel.phone}}
    </ion-item>
  </ion-list>

</ion-content>
